.header_wrap {
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logo {
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

.logo > p {
    padding-top: 12px;
    font-size: 24px;
    font-weight: bold;
}