.header_wrapper {
    background-color: #08001f;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contract_header_wrapper {
    background-color: #12082d;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #d14c84;
}

.header_section_wrapper {
    background-color: #08001f;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.logo_wrapper {
    font-weight: bold;
    color: #ffffff;
}

.page_links_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    color: #ffffff;
    font-weight: bold;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .contract_header_wrapper {
        text-align: center;
        font-size: 12px;
    }

    .header_section_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .social_icons {
        display: none;
    }

    .logo_wrapper, .page_links_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    .social_icons {
        display: none;
    }
  }