body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-image: url('https://github.com/venkatesh16031999/CryptoNFT/blob/main/BG.jpg?raw=true');
  background-size: cover;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Epilogue', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Epilogue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
